:root {
  --yellow: #feb60a;
  --red: #ff0062;
  --blue: #00dbf9;
  --violet: #da00f7;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loader__blue-circle {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}


.loader__blue-circle {
  background-color: var(--blue);
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.4);
  }
}
