.connection-restored {
  padding: 8px 24px 20px 24px;
  background: #29BB43;
  width: 100%;
  margin-bottom: 20px;
}

.connection-restored__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

.connection-restored__subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
