.specialist__search-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #050510;
  margin-bottom: 18px;
}

.specialist__input-container {
  position: relative;
  margin-bottom: 22px;
  width: 100%;
}

.specialist__search {
  position: absolute;
  top: 9px;
  left: 14px;
}

.specialist__filter {
  position: absolute;
  top: 12px;
  right: 24px;
  cursor: pointer;
}

.search__containter{
  padding: 16px;
}

.specialist__input {
  box-sizing: border-box;
  padding: 10px 60px 10px 50px;
  background: #f7f7f8;
  border-radius: 16px;
  border: transparent;
  width: 100%;
  outline: none;
}
