.internet-error {
  padding: 8px 24px 20px 24px;
  background: #F44336;
  width: 100%;
  margin-bottom: 20px;
}

.internet-error__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

.internet-error__subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
