.modal {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.modal__main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  background: #ffffff;
  border-radius: 20px;
  padding: 23px 30px;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #050510;
  margin-bottom: 30px;
}

.modal__button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal__button {
  border-radius: 50%;
  background: #f7f7f8;
  outline: none;
  border: none;
}

.modal__close {
  padding: 4px;
  width: 10px;
  height: 10px;
}

.sort {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #050510;
    cursor: pointer;
  }
}

.sort__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.sort__radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.sort__radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #6534ff;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.sort__radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #714cea;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.sort__radio:not(:disabled):active + label::before {
  background-color: #7a5ae5;
  border-color: #7a5ae5;
}
/* стили для радиокнопки, находящейся в фокусе */
.sort__radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem #d2c8f3;
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.sort__radio:focus:not(:checked) + label::before {
  border-color: #7a5ae5;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.sort__radio:checked + label::before {
  border-color: #6534ff;
  background-color: #6534ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.sort__radio:disabled + label::before {
  background-color: #e9ecef;
}
